body>main, body>header {
  margin-left: 350px;
}


nav {
  background-color: #358bdc;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2em;
  height: 100%;
  width: 250px;
}

nav>a {
  display: block;
  padding: 0.5em 1em;
  text-align: right;
}