nav {
  background-color: #358bdc;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2em;
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav {
  a, h2 {
    display: block;
    padding: 0.5rem 1rem;
    text-align: right;
    margin: 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }
  a:hover {
    color: rgb(150, 182, 230);;
  }
}
