@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

body {
  font-size: 18px;
}

#root {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#root>main {
  margin-left: 350px;
  max-width: 800px;
  
}

#root>main>header {
  h1 {
    font-size: 4.5em;
    padding: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    color: #215383;
    // background: -webkit-linear-gradient(#358bdc, #328655);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  button {
    margin-right: 1em;
  }
}

hr {
  margin: 3em 0;
}

section {
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
    line-height: 150%;
  }
}

article {
  margin-bottom: 3em;
}
.left-accented {
  padding-left: 2em;
  border-left: 7px solid #ff3939;
}
.two-columns {
  display: flex;
  flex-direction: row;
  header {
    width: 30%;
    line-height: 150%;
    padding-right: 1em;
    .credentials {
      font-weight: bold;
      font-size: 1.2em;
    }
    .credential-issuer {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: #707070;
      margin-bottom: 1em;
    }
  }
  p.description {
    width: 60%;
    margin: 0;
    font-size: 1em;
  }
}