#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

#root>main {
  margin-left: 350px;
}

#root>main>header {
  h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    display: block;
  }
  h2 {
    font-size: 4em;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }
}