@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

body {
  font-size: 18px;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

#root>main {
  margin-left: 350px;
}

#root>main>header {
  h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    font-size: 5em;
    font-family: 'Bebas Neue', cursive;
    background-color: #393939;
    background: -webkit-linear-gradient(#358bdc, #328655);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  button {
    margin-right: 1em;
  }
}

hr {
  margin: 3em 0;
}

section {
  max-width: 800px;
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
    line-height: 150%;
  }
}